<template name="partialPanelFooter">
    <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
            <div class="row">
                <nav class="footer-nav">
                    <!-- <ul>
                                                            <li>
                                                                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                                                            </li>
                                                            <li>
                                                                    <a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
                                                            </li>
                                                            <li>
                                                                    <a href="https://www.creative-tim.com/license" target="_blank">Licenses</a>
                                                            </li>
                                                    </ul> -->
                </nav>
                <div class="credits ml-auto">
                        <span class="copyright">
								© {{currentYear}}, made with <i class="fa fa-heart heart"></i> by <a href="https://catin.black" target="_blank">Cat In Black Software House</a>
							</span>
                </div>
            </div>
        </div>
    </footer>
</template>