<template name="buttonsForPromising">
    <div class="dropdown">
        <button class="btn btn-link" type="button" id="dropdownMenu{{item._id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,2">
            <i class="fa fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu{{item._id}}">
            <a href="{{pathFor route='preview' _id=item.memberId}}" class="dropdown-item">{{_ "crm.table.preview"}}</a>
            <button class="dropdown-item markAsUsed" type="button">{{_ "crm.table.markAsUsed"}}</button>
        </div>
    </div>
</template>